body {
  font-family: 'Arial, sans-serif' !important;
}

h1 {
  color: #f39c12 !important;
  font-size: 3em !important;
  margin: 0 !important;
}

h3 {
  color: #343a40 !important;
  font-weight: 300 !important;
  font-size: 1.5em !important;
}

div {
  text-align: center !important;
  margin-bottom: 20px !important;
}

.sidebarPanel .picker-input,
.sidebarPanel .selectize-input {
  border: 1px solid #cc8500 !important;
  border-radius: 5px !important;
}
.sidebarPanel .picker-input:hover,
.sidebarPanel .selectize-input:hover {
  border-color: #ffb04c !important;
}

.sidebarPanel label {
  font-weight: bold !important;
}

.sidebarPanel .numericInput input,
.sidebarPanel .textInput input {
  width: 100% !important;
  border: 1px solid #686868 !important;
  border-radius: 5px !important;
  padding: 5px !important;
}

.sidebarPanel .actionButton {
  background-color: #f39c12 !important;
  color: #fff !important;
  border: none !important;
  border-radius: 5px !important;
}
.sidebarPanel .actionButton:hover {
  background-color: #cc8500 !important;
}

.mainPanel table {
  width: 100% !important;
  border-collapse: collapse !important;
}

.mainPanel table th {
  background-color: #343a40 !important;
  color: #fff !important;
  padding: 10px !important;
}

.mainPanel table td {
  border: 1px solid #343a40 !important;
  padding: 10px !important;
  text-align: center !important;
}

.mainPanel .actionButton,
.mainPanel .downloadButton {
  background-color: #f39c12 !important;
  color: #fff !important;
  border: none !important;
  padding: 10px !important;
  border-radius: 5px !important;
}
.mainPanel .actionButton:hover,
.mainPanel .downloadButton:hover {
  background-color: #cc8500 !important;
}

footer {
  position: fixed !important;
  bottom: 0 !important;
  width: 100% !important;
  background-color: #1c1c1c !important;
  color: #f39c12 !important;
  text-align: center !important;
  padding: 10px !important;
  font-size: 0.9em !important;
}
